.section__characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Pathway Gothic One', sans-serif;
  overflow: scroll;
  height: 84vh;
  border: 2px solid purple;
  // margin-top: 10%;
}

.div__crawl {
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
  animation: crawl 60s infinite linear;
  z-index: -1;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.star-wars {
  display: flex;
  justify-content: center;
  perspective: 400px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
  height: 68%;
  z-index: -10;
  position: absolute
}
