.section__characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Pathway Gothic One', sans-serif;
  overflow: scroll;
  height: 75vh;
}

.div__crawl {
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
  animation: crawl 60s infinite linear;
  z-index: -1;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.star-wars {
  display: flex;
  justify-content: center;
  perspective: 400px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
  height: 68%;
  z-index: -10;
  position: absolute
}

.button__view-favorites {
  background: rgba(55, 51, 62, 0.91);
  border-radius: 16em;
  border: 1px solid #919192;
  color: #919192;
  font-size: 1em;
  height: 5vh;
  justify-self: center;
  margin-left: 25%;
  width: 50%;
}

.button__view-favorites:hover {
  background: rgba(143, 171, 172, .7);
  border: 2px dotted rgba(32, 37, 40, .8);
  color: rgba(32, 37, 40, .8);
  font-weight: bold;
  cursor: pointer;
}