.character__cards {
  color: white;
  background: rgba(145, 145, 145, 0.7);
  border: 2px solid white;
  color: white;
  width: 20%;
  margin: 2%;
  height: 52vh;
  text-align: center;
  position: relative;
  z-index: 2;
}

