$dark-grey: rgba(32, 37, 40, .8);
$card-background: rgba(145, 145, 145, 0.8);
$element-background: rgba(51, 51, 51, .5);
$red-font: #963025;

.character__cards {
  background: $card-background;
  border: 2px solid white;
  color: white;
  width: 26%;
  margin: 1% 1%;
  height: 57vh;
  text-align: center;
  position: relative;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .1s ease-in-out;
}

.character__cards:hover {
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}

.character__card--element {
  background: $dark-grey;
  font-size: 1.5em;
  margin-top: 2%;
  margin-bottom: 2%;
}

.character__card--div {
  margin-top: 6%;
}

.character__card--films {
  font-size: 1em;
  margin-top:2%;
  margin-block-end: 0em;
  margin-block-start: 1%;
  background-color: $element-background;
  color:white;
}

.character__card--info {
  color: $red-font;
  font-size: 1.25em;
  text-shadow: 1px 0px $card-background;
}

.article__favorite-button {
  position: absolute;
  left: 0;
  max-width: 9%;
  margin-top: 2.4%;
  margin-left: 2%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .3s ease-in-out;
}

.article__favorite-button:hover {
  cursor:pointer;
  // max-width: 12%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
