main {
background-image: 
url('../star-wars-planets.jpg');
background-size: cover; 
overflow: hidden;
height: 100vh;
opacity: .7;
}

h1 {
  color: #BFCAC3;
  text-align: center;
  margin-top: 2%;
}

body {
  background-image: url('../stars.gif');
    background-size: cover;
    
}


  

