main {
background-image: 
url('../images/star-wars-planets.jpg');
background-size: cover; 
overflow: scroll;
height: 100vh;
opacity: .7;
}

h1 {
  color: #BFCAC3;
  text-align: center;
  margin-top: 2%;
}

body {
  background-image: url('../images/stars.gif');
    background-size: cover;

    
}


  

