form {
  display: flex;
  flex-direction: column;
}

.form__element {
  margin: 5% 5% 0% 5%;
  height: 8vh;
  opacity: .7;
}

#form__div--container {
  border: 2px solid #BFCAC3;
  width: 60%;
  margin-left: 20%;
  margin-top: 6%;
}

.form__button {
  // margin-bottom: 5%;
  width: 90%;
  height: 8vh;
  cursor: pointer;
}

.form__button:disabled {
  cursor: not-allowed;
}

.form__button--link {
  margin: 5% 5% 5% 5%;
  height: 8vh;
  width: 100%;
}

