form {
  display: flex;
  flex-direction: column;
}

.form__element {
  margin: 5% 5% 0% 5%;
  height: 8vh;
}

#form__div--container {
  border: 2px solid #BFCAC3;
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
}

.form__button {
  margin-bottom: 5%;
}
