#favorite-characters {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  justify-content: center;
  overflow: scroll;
}

.fav_character-title {
  color: #919192;
  font-size: 3em;
  position: absolute;
  top: 0;
}